@import "variables";

.color-circle-bride,
.color-circle-groom {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.color-circle-bride {
  background: #f5f5f4;
  border: 1px solid #ffb6c1;
}

.color-circle-groom {

  background: linear-gradient(to right, #6F9461 30%, #83A776 70%);
}
