$primary-color-0: #bd5d83;
$primary-color-1: darken(#e6f0e8, 5%);
$primary-color-2: #b4d1b8;
$primary-color-3: #ddb1c3;
$primary-color-4: #dcc4c8;
$primary-color-5: #f4f0ee;

$font-color-headline: $primary-color-0;
$font-color-normal: #352e33;

$background-color: $primary-color-5;

$secondary-color-1: #493a3f;
$secondary-color-2: #aba69b;
$secondary-color-3: #c6939c;
