{{ define "main" }}
    {{ partial "banner" site.Data.banner }}
    {{ partial "spotlight" site.Data.registration }}
    {{ partial "spotlight" site.Data.schedule }}
    {{ partial "spotlight" site.Data.show }}
    {{ partial "spotlight" site.Data.location }}
    {{ partial "map" }}
    {{ partial "spotlight" site.Data.night }}
    {{ partial "spotlight" site.Data.presents }}
    {{ partial "contacts" site.Data.contact }}
    <!-- partial "gallery" site.Data.gallery -->
    {{ partial "footer" . }}
{{ end }}
